* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #444;
    height: 100%;
}

h2 {
    color: #505656;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #666;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    background-color: #505656;
    color: #fff;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    height: 100px;
    border-bottom: 2px solid #666;
    background-color:rgba(242, 242, 242, 0.8);
}

.logo {
    text-align: center;
    background-color: #505656;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    padding: 30px;
}

.nav-links {
    text-align: center;
    margin-top: 35px;
}

.nav-links a {
    color: #505656;
    text-decoration: none;
    border-left: 1px solid #666; 
    padding: 20px;
}

.nav-links a:first-child {
    border-left: 0 none;
}

.nav-links a:hover {
    color: #222;
}

.main-container {
    height: 500px;
    max-width: 960px;
    background-color: rgba(242, 242, 242, 0.8);
    border: 2px solid #444;
}

.me {
  width: 200px;
}

.main-container p {
    line-height: normal;
}

.main-container p a {
    text-decoration: none;
    color: #505656;
}

.main-container p a:hover {
    color: #222;
}

.footer-container {
    height: 70px;
    background-color: rgba(242, 242, 242, 0.8);
    border-top: 8px solid #444;
    flex-shrink: 0;
    position: fixed; 
    width: 100%;
    left: 0;
    bottom: 0;
}

.footer-container p {
    text-align: center; 
}

@media screen and (max-width: 640px) {
    .header-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo {
        flex: 1 1 100%;
    }

    .nav-links {
        padding-bottom: 20px;
        border-bottom: 2px solid #666;
        flex: 1 1 100%;
        margin-top: 25px;  
    }

    .main-container {
        margin-top: 90px;
        margin-left: 15px;
    }

    .me {

    }
}

@media screen and (max-width: 768px) {
  
    .me {

    }
}

@media screen and (max-width: 980px) {
    

}